
saves/Level 1/playerdata/

saves/Level 1/advancements/

crash-reports/

saves/Level 1/data/villages_end\.dat

saves/Level 1/data/villages_nether\.dat

saves/Level 1/data/villages\.dat

saves/Level 1/region/r\.0\.1\.mca

saves/Level 1/region/r\.0\.2\.mca

saves/Level 1/region/r\.1\.-1\.mca

saves/Level 1/region/r\.1\.-2\.mca

saves/Level 1/region/r\.1\.0\.mca

saves/Level 1/region/r\.1\.1\.mca

saves/Level 1/region/r\.1\.2\.mca

saves/Level 1/region/r\.2\.-1\.mca

saves/Level 1/region/r\.2\.-2\.mca

saves/Level 1/region/r\.2\.0\.mca

saves/Level 1/region/r\.2\.1\.mca

saves/Level 1/region/r\.-1\.-1\.mca

saves/Level 1/region/r\.-1\.-2\.mca

saves/Level 1/region/r\.-1\.0\.mca

saves/Level 1/region/r\.-1\.1\.mca

saves/Level 1/region/r\.-1\.2\.mca

saves/Level 1/region/r\.-2\.-1\.mca

saves/Level 1/region/r\.-2\.-2\.mca

saves/Level 1/region/r\.-2\.0\.mca

saves/Level 1/region/r\.-2\.1\.mca

saves/Level 1/region/r\.-2\.2\.mca

saves/Level 1/region/r\.0\.-1\.mca

saves/Level 1/region/r\.0\.-2\.mca

usercache\.json

saves/Level 1/stats/

logs/

saves/Level 1/data/scoreboard\.dat

saves/Level 1/session\.lock
options.txt
realms_persistence.json
saves/Level 1/data/raids.dat

backups/
screenshots/
optionsof.txt